body{
  background-color: #3B3B3B;
  font-family: 'Roboto Mono', monospace;
  text-align: center;

}
h1{
  color: white;
  position: relative;
}
p{
  color: white;
  position: relative;
}
a{
  color: #E95050;
  position: relative;
}

#logo{
  position: absolute;
  margin-top: 100px;
  top: 200%;
  height: 140px;
  width: 900px;}
@media screen and (max-width: 1200px) {
  #logo {
    margin-top: 50px;
    width: 450px;
    height: 70px; }

}
@media screen and (max-width: 600px) {
  #logo {
    margin-top: 50px;
    width: 225px;
    height: 35px; }

}
