*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
  
  }
  
  body{
    background-color: #3B3B3b;
  }
  
  h1{
    color: white;
    position: relative;
  }
  h2{
    color: white;
  
    position: relative;
  }
  p{
    color: white;
    position: relative;
  }
  .navbar{
    z-index: 100;
  }
  
  .particles{
    z-index: 0;
  }
  .content{
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    z-index: 2;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
  
    
  }
  
  footer{
    position: absolute;
    bottom: 2px;
    align-items: center;
    text-align: center;
    right:2px;
  }
  
  
  a{
    color: #E95050;
    position: relative;
  }
  
  nav{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    min-height: 8vh;
  }
  nav img{
    z-index: 1000;
  }
  .content img{
    display: flex;
    z-index: inherit;
    padding-bottom: 30px;
  }
  .logo{
    color: #E95050;
    letter-spacing: 5px;
    font-size: 25px;
    height:25%;
    width:25%;
  }
  
  
  .nav-links{
    display: flex;
    justify-content: space-around;
    background-color: #3B3B3b;
    width:45%
  }
  
  #btnCon{display: none;}
  
  .nav-links a{
    color: #E95050;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  
  .nav-links li{
    list-style: none;
  }
  
  .burger{
    display: none;
    cursor: pointer;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background-color: #E95050;
    margin: 5px;
  }
  
  .floated img{
      padding: 15px;
      float: left;
      width: 120px;
      height: auto;
  }
  
  .floated{
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 3;
  }

  .floated2 img{
    padding: 15px;
    float: left;
    width: 120px;
    height: auto;}
  
.floated2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

  @media screen and (max-width:768px){
    body{
      overflow-x: hidden;
    }
  
    .content img{
      width: 60%;
      height: 60%;
    }
    
    .content{
      flex-direction: column;
    }
  
    .content p{
      text-align: left;
    }
  
    .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      display:flex;
      background-color: #b6b6b6;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition-property: transform;
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;
    }
  
    .nav-links li{
      opacity: 100;
    }
  
    .nav-links a{
      font-size: 40px;
      font-weight: lighter;
    }
  
    .burger{
      display: block;
    }
  
    nav{
      position: relative;
      background-color: #b6b6b6;
    }
  
    .logo{
      background-color: #b6b6b6;
    }
  
    .nav-links a{
      background-color: #b6b6b6;
    }
  
  
  #btnCon:checked + label ~ .nav-links{
      transform: translateX(0%);
    }
  
    .floated{
        flex-direction: column;
    }

    .floated2{
      flex-direction: column;
  }

    .floated img{
        width: 120px;
        height: 120px;
    }
    .floated2 img{
      width: 120px;
      height: 120px;
  }
  
  }
  
  #particles-js{
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
  }
  