body{
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
h1{
  color: white;
}
p{
  color: white;
}
a{
  color: red;
}

#logo{
  position: relative;
  top: 200%;
  margin-top: 100px;
  height: 140px;
  width: 900px;}
@media screen and (max-width: 1200px) {
  #logo {
    margin-top: 50px;
    width: 450px;
    height: 70px; }

}
@media screen and (max-width: 600px) {
  #logo {
    margin-top: 50px;
    width: 450px;
    height: 70px; }

}
